:root{
    --text: #ebf0f2;
    --background: #080f12;
    --primary: #0f181c;
    --secondary: #186987;
    --accent: #23b8ed;
    
    --header-one: 3rem;
    --header-two: 2rem;
    --header-three: 1.3rem;
    --header-weight: 600;

    --main-font-size: 1rem;
    --mini-text-font: 0.7rem;

    --main-font: "Playfair Display", serif;
    --secondary-font: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: var(--secondary-font);
    color: var(--text);

}

h6 {
    color: var(--secondary);
}

.navbar {
    box-shadow: var(--secondary) 0px 3px 8px;
    padding: 20px 100px;
}

.brand-logo {
    height: 30px;
}

.nav-contents {
    padding: 1rem 3rem;
}

.nodemcu-link {
    border: 1px solid var(--accent);
    border-radius: 8px;
    background-color: var(--accent);
    color: var(--background);
}

.nodemcu-link:hover {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.nav-link-hover:hover {
    color: var(--accent);
    font-weight: 600;
}


/* HERO SECTION */

#hero {
    /* background-color: red; */
    height: 100vh;
    width: 100%;
    padding: 5rem 0 0 0;
    display: flex;
    align-items: center;

}

.nodemcu-img {
    height: 320px;
}

.primary-text {
    color: var(--accent);
}

/* FEATURES */

#features,
#tutorial,
#setup {
    height: 100vh;
    width: 100%;
    padding: 8rem 0 0 0;

}

.header {
    margin-bottom: 30px;
}

.feat-text {
    text-align: center;
}

.feat-col {
    
    display: flex;
    justify-content: center;
}

.card {
    background-color: var(--primary);
    border: 2px solid;
    height: 390px;
    width: 300px;
}

.card-row {
    display: flex;
    justify-content: center;
}

.card-img {
    padding: 10px 70px 0 70px;
    background-color: var(--background);

}

.card-body {
    color: var(--text);
}

/* TUTORIAL */

a {
    /* text-decoration: none; */
    color: var(--secondary);
}



/* FOOTER */

.footer{
    margin: 10px 0;
    text-align: center;
}


/* SETUP */

#setup {
    width: 100%;
    padding: 3rem 10rem;
}

.step-container {
    margin: 0 4rem;
}

.step{
    margin-bottom: 4rem;
}

.step > p {
    margin-bottom: 2rem;
}

